@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@700&display=swap');

a.navbar-brand{
    color: #ffffff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: x-large;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}