@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@700&display=swap');

body{
  background-color: rgb(242, 242, 242);
}

a.navbar-brand{
    color: #ffffff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 32px;
}

p{
  line-height: 2;
  font-size: 20px;
}
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.footer {
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #e7e7e7;
  }

a.btn btn-lg btn-primary{
    white-space: nowrap;
}
a.btn btn-lg btn-secondary{
    white-space: nowrap;
}

.explanatory{
  margin-left: auto;
}


h1{
  margin-top: 40px ;
  padding: 10px;
  border-left: 0.6rem solid #2b99ff;
}

h2 {
  margin-top: 30px ;
  padding: 8px;
  font-size: 30px;
  border-left: 0.3rem solid #2b99ff;
}


h3 {
  margin-top: 15px ;
  padding: 5px;
  font-size: 20px;
  border-left: 0.3rem solid #2b99ff;
}


/*----------------------------------------------------------------------------
Unity-webgl 比率
----------------------------------------------------------------------------*/

#unity-webgl{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

#unity-webgl{
	/* 16:9 */
	width: 1136px ;/*デフォルトの横幅*/
	height: 640px ;/*デフォルトの縦幅*/
}
@media screen and (min-width: 480px){/*480px以上*/
	#unity-webgl{
		width: 400px ;
		height: 225px ;
	}
}
@media screen and (min-width: 834px){/*834px以上*/
	#unity-webgl{
		width: 640px ;
		height: 360px ;
	}
}
@media screen and (min-width: 1023px){/*1023px以上*/
	#unity-webgl{
		width: 896px ;
		height: 504px ;
	}
}
@media screen and (min-width: 1240px){/*1240px以上*/
	#unity-webgl{
		width: 1136px ;
		height: 640px ;
	}
}
